<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<form action="{% url 'index' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

<input type="file" name="csv_file" />
<input type="submit" name="Great"value="Upload" />
    </form>
<p>
<form action="{% url 'index' %}" method="post">
    <label for="your_name">Enter Row to Analyse </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">{% csrf_token %}
    <input type="submit" value="OK">
</form>
</p>


<div id="dvData">
<table border=2>
<tr>

    {% for attr_head in data %}
        {% if forloop.first %}

             {% for line in attr_head %}
               <th>{{line}}</th>
            {%endfor %}

        {% else %}
          <tr>
            {% for line in attr_head %}
               <td>{{line}}</td>
            {%endfor %}
           </tr>
        {% endif %}
    {% endfor %}

</tr>




</table>
    <a href="#" class="export">Export Table data into Excel</a>

</div>
<script>
$(document).ready(function () {

    function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td),tr:has(th)'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td,th');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        exportTableToCSV.apply(this, [$('#dvData>table'), 'export.csv']);

        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});
</script>
</body>
</html>